:root {
  --ba-color-white: #f2f2f2;
  --ba-color-black: #222222;
  --ba-color-nintendo: #e60012;
  --ba-color-playstation: #0070d1;
  --ba-color-xbox: #107c10;
  --ba-color-pc: #1b2838;
  --ba-card-height: 120px;
  --ba-card-width: 260px;
}
