.ba-card {
  width: var(--ba-card-width);
  height: 118px;
}

.ba-card__title {
  font-size: 24px;
  font-weight: bold;
}

.ba-card__platform {
  border: none;
  color: #fdfdfd;
  background-color: black;
  padding: 5px 15px;
  font-size: 14px;
}

.ba-card__platform--nintendo {
  background-color: var(--ba-color-nintendo);
}

.ba-card__platform--playstation {
  background-color: var(--ba-color-playstation);
}

.ba-card__platform--xbox {
  background-color: var(--ba-color-xbox);
}

.ba-card__info {
  margin-top: 16px;
  display: flex;
  align-items: center;
}

.ba-card-alt {
  cursor: pointer;
  width: 300px;
  height: 300px;
  border-radius: 8px;
  position: relative;
}

.ba-card-alt__image {
  width: 100%;
  border-radius: 8px;
  height: inherit;
  object-fit: cover;
  object-position: top;
}

.ba-card-alt__info {
  position: absolute;
  background: rgba(0, 0, 0, 0.6196078431);
  width: 100%;
  bottom: 1px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-left: 12px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.ba-card-alt__title {
  margin-top: 8px;
  color: white;
}
