.ba-card {
  width: var(--ba-card-width);
  height: 118px;
}

.ba-card__title {
  font-size: 24px;
  font-weight: bold;
}

.ba-card__platform {
  border: none;
  color: #fdfdfd;
  background-color: black;
  padding: 5px 15px;
  font-size: 14px;
}

.ba-card__platform--nintendo {
  background-color: var(--ba-color-nintendo);
}

.ba-card__platform--playstation {
  background-color: var(--ba-color-playstation);
}

.ba-card__platform--xbox {
  background-color: var(--ba-color-xbox);
}

.ba-card__info {
  display: flex;
  align-items: center;
}
