.ba-tag {
  padding: 5px 15px;
  border-radius: 4px;
  font-size: 14px;
}

.ba-tag__platform {
  @extend .ba-tag;
  color: #fdfdfd;
  background-color: black;
  max-width: 168px;
  height: 30px;
  max-height: 40px;
}

.ba-tag__common {
  @extend .ba-tag;
  background-color: gainsboro;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ba-tag__platform--pc {
  background-color: var(--ba-color-pc);
}

.ba-tag__platform--nintendo {
  background-color: var(--ba-color-nintendo);
}

.ba-tag__platform--playstation {
  background-color: var(--ba-color-playstation);
}

.ba-tag__platform--xbox {
  background-color: var(--ba-color-xbox);
}
