.ba-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.ba-header-navigation {
  display: flex;
  align-items: center;
}

.ba-header-navigation {
  a:not(:last-of-type) {
    margin-right: 8px;
  }
}
