.ba-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
}

.ba-header__navigation {
  display: flex;
  align-items: center;
}

.ba-header__navigation-link {
  @media (min-width: 320px) {
    font-size: 12px;
  }

  @media (min-width: 375px) {
    font-size: 14px;
  }

  @media (min-width: 768px) {
    font-size: 16px;
  }
}

.ba-header__navigation {
  a:not(:last-of-type) {
    margin-right: 8px;
  }
}

.ba-header__controls {
  display: flex;
}

.ba-header__language-select {
  margin: 0 12px;
}
