.ba-user {
  width: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14px;
  cursor: pointer;

  p {
    margin: 0;
  }
}

.ba-user-avatar {
  width: 32px;
  height: 32px;
}
