.ba-home {
  width: 100%;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ba-home--search {
  width: 100%;
  padding: 4px 8px;
  border: none;
  border-bottom: 1px solid #121212;
}