.ba-card {
  width: var(--ba-card-width);
  height: 118px;

  .ant-card-body {
    height: 100%;
  }
}

.ba-card__title {
  font-size: 24px;
  font-weight: bold;
}

.ba-card__platform {
  border: none;
  color: #fdfdfd;
  background-color: black;
}

.ba-card__platform--nintendo {
  background-color: var(--ba-color-nintendo);
}

.ba-card__platform--playstation {
  background-color: var(--ba-color-playstation);
}

.ba-card__platform--xbox {
  background-color: var(--ba-color-xbox);
}