.ba-suggestbox-list {
  position: absolute;
  background-color: white;
  z-index: 1;
  width: 300px;
  left: 34%;
  top: 15%;

  ul {
    list-style: none;
    padding: 0;
  }

  li {
    height: 72px;
    padding-left: 12px;
    display: flex;
    justify-content: flex-start;
    gap: 12px;
    align-items: center;
    cursor: pointer;

    img {
      border-radius: 50%;
      height: 56px;
      width: 56px;
    }
  }

  li:hover {
    background-color: #bfbfbf;
  }
}
