.ba-tag__platform {
  border: none;
  color: #fdfdfd;
  background-color: black;
  padding: 5px 15px;
  font-size: 14px;
  max-width: 140px;
}

.ba-tag__platform--pc {
  background-color: var(--ba-color-pc);
}

.ba-tag__platform--nintendo {
  background-color: var(--ba-color-nintendo);
}

.ba-tag__platform--playstation {
  background-color: var(--ba-color-playstation);
}

.ba-tag__platform--xbox {
  background-color: var(--ba-color-xbox);
}
