:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: rgba(255, 255, 255, 0.87);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  --ba-modal-index: 1000;
}

a, button {
  cursor: pointer;
}

.container {
  padding: 16px 20px 0;
}

.ba-button {
  border: 1px solid #242424;
  border-radius: 4px;
  background: transparent;
  text-align: center;
  padding: 4px 8px;
  transition: all .6ms ease-in-out;
}

.ba-button--primary {
  background-color: #242424;
  color: #fdfdfd;
}

.ba-button--primary:hover {
  background-color: transparent;
  color: #242424;
}

.ba-button--secondary:hover {
  border-color: transparent;
}

.ba-modal-overlay {
  width: 100vw;
  height: 100vh;
  position: absolute;
  z-index: var(--ba-modal-index, 1000);
  top: 0;
  left: 0;
  background-color: #24242442;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ba-modal {
  background-color: #fdfdfd;
  display: flex;
  flex-direction: column;
  color: #242424;
}

.ba-modal-header {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  padding: 12px 24px 0;
}

.ba-modal-body {
  padding: 0 24px 12px;
}

.ba-label {
  display: block;
}

.ba-input {
  display: block;
}