.ba-divider {
  display: flex;
  width: 100%;
  margin: 12px 0;

  &::after {
    margin-left: 8px;
  }

  &::before {
    margin-right: 8px;
  }

  &::after,
  &::before {
    position: relative;
    width: 50%;
    border-block-start: 1px solid transparent;
    border-block-start-color: transparent;
    border-block-start-color: inherit;
    border-block-end: 0;
    transform: translateY(50%);
    content: '';
  }
}
