.ba-gameslist-page__nav-filters {
  display: block;
  button {
    margin-right: 12px;
  }
}

@media (max-width: 768px) {
  .ba-gameslist-page__nav-filters {
    display: none;
  }
}

.ba-gameslist-page__nav-filters--mobile {
  display: block;

  @media (min-width: 768px) {
    display: none;
  }
}

.ba-filter__button {
  
}

.ba-filter__button:hover {
  
}

.ba-filter__button:disabled {
  
}